.navbar-head {
  position: relative;
  width: 100%;
  height: 85px;
  background-color: #fdfafa;
  display: flex;
 
  
  align-items: center;
}

span {
  color: red;
}

.search-box {
  display: flex;
  align-items: center;

}

.search-box input {
  width: 150px;
  height: 30px;
  margin-left: 10px; /* Adjust the margin as needed */
  padding: 5px;
  border: 1px solid black;
}

.search-box button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

.head {
  color: rgb(202, 20, 20);
  font-weight: bold;
  font-size: 24px;
  

  padding: 10px; /* Adjust padding as needed */
}

.tags {
  text-decoration: none;
  list-style-type: none;
  margin-left: 20px;


  display: flex;
  margin-top: 10px;
}
.links{
  color: black;
  font-family:'lato-bold' ;
  margin-left: 10px;
  font-weight:1000 ;
  padding: 5px;
  text-decoration: none;
  list-style-type: none;
}
.links:hover{
  color: rgb(172, 30, 30);
}

.tags li {
  text-decoration: none;
  margin-left: 20px; /* Adjust the margin to control spacing between links */

  padding: 5px;
  font-family: "lato-bold";
 
  font-weight: 1000;
}
.tags li:hover{
  color: rgb(172, 30, 30);
}
.search-btn{
  width: 200px;
  background-color: white;
}
