.detail-container {
  width: 100%;
  display: flex;
  background-color: rgb(235, 231, 226);
}

.detail-left {
  width: 30%;
  height: relative;
  background-color: white;
  ;
}

.detail-right {
  flex: 1;
  padding: 20px; /* Add padding as needed */
}

.detail-img {
  max-width: 100%;
  height: auto;
}
.addCart-btn {
  padding: 8px;
  margin-top: 1px;
  background-color: black;
  height: 40px;
  color: white;
  border: none;
  cursor: pointer;
}
/* Add more styles as needed for other elements in detail-right */
