.editBtn{
    border: none;
    width: 100px;
    border-radius: 2px;
    color: white;
  
    background-color: rgb(137, 179, 228)
       
    
}
.deleteBtn{
    background-color: rgb(230, 109, 109);
    color: white;
    border: none;
    width: 70px;
    border-radius: 2px;
  
   
}
.saveBtn{
    background-color: rgb(60, 206, 85);
    color: white;
    border: none;
    border-radius: 2px;  
    
}
.totalItems{
    background-color: rgb(136, 158, 233);
    height: 60px;
    color: white;
    padding-left: 37%;
}
.container{
    height: auto;
    width: 450px;
   color: white;
    background-color: rgb(128, 155, 155);
    
   
   
}
.addBtn{
  background-color: rgb(94, 199, 94);
  border: none;
  margin-left: 400px;
  margin-top: 20px;
  border: none;
  color: white;
}
.newItem{
    margin-left: 500px;
    margin-top: 20px;
    
}
.newItem button{
    color: white;
    background-color: rgb(85, 192, 85);
    border: none;
}
.btns{
    margin-left: 180px;

}
